.storybook-button {
  font-family: fontRegularBody, system-ui, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.storybook-button--primary {
  color: black;
  background-color: #FDD835;
}

.storybook-button--primary:hover {
  background-color: #FFEB3B;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
  background-color: #FDD835;
  color: black;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
  background-color: #FDD835;
  color: black;
}
