@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'atoms/_colors';
@import 'atoms/_typography';
@import 'atoms/_inputs';
@import 'atoms/_scrollbar';
@import 'atoms/_badge';
@import 'atoms/_button';

@import 'molecules/_tabs';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: fontRegularBody, system-ui;
}

.container-wrapper {
  @apply pl-10 md:pl-40 w-full relative;
}
