<header class="relative z-10 flex gap-[5rem] items-center justify-between px-40 py-9">
  <img
    ngSrc="imgs/logo.svg"
    alt="Logo Flypass - Find movies"
    width="180"
    height="38"
  />

  <label class="input input-bordered flex items-center gap-2 has-[:focus-within]:text-black transition-colors w-full">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="h-6 w-6"
    >
      <path
        fill-rule="evenodd"
        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
        clip-rule="evenodd"
      />
    </svg>
    <input type="text" class="grow" placeholder="Search FindMovies" />
  </label>
</header>
