<article class="px-10 md:px-40 py-9 flex flex-col md:flex-row gap-8 animate-fade-up">
  <div
    class="rounded overflow-hidden w-[18rem] h-[26rem] min-w-[15rem] m-auto md:m-0 md:w-[22rem] md:min-w-[20rem]"
  >
    <img
      class="object-cover object-center aspect-[2/3] w-[22rem] h-[26rem]"
      ngSrc="{{ posterContent.poster_path }}"
      decoding="async"
      alt="title"
      width="780"
      height="1170"
    />
  </div>

  <div class="flex flex-col gap-4 text-white text-base">
    <div
      class="w-full rounded-lg outline outline-2 -outline-offset-1 outline-primary-ui flex items-center overflow-hidden"
    >
      <div class="bg-primary-ui p-3 relative">
        <p class="text-black text-base font-semiBold z-10 relative">Awards & nominations</p>
        <div class="bg-primary-ui w-10 h-20 absolute z-0 -right-3 -top-6 rotate-[20deg]"></div>
      </div>
      <p class="text-white font-semiBold text-base px-4 ml-4">
        Won 2 Oscars 130 wins & 136 nominations total
      </p>
    </div>

    <div class="flex gap-3">
      @for (genre of posterContent.genres; track $index) {
        <span class="badge">{{ genre }}</span>
      }
    </div>

    <p class="text-balance font-body leading-7">
      {{ posterContent.overview }}
    </p>

    @if (posterContent.production_countries.length > 0) {
      <p>
        <span class="text-[var(--gray-100-opacity-60)]">Production countries:</span>
        @for (item of posterContent.production_countries; track $index) {
          {{ item }},
        }
      </p>
    }

    @if (posterContent.production_companies.length > 0) {
      <p>
        <span class="text-[var(--gray-100-opacity-60)]">Production companies:</span>
        @for (item of posterContent.production_companies; track $index) {
          {{ item }},
        }
      </p>
    }

    @if (posterContent.spoken_languages.length > 0) {
      <p>
        <span class="text-[var(--gray-100-opacity-60)]">Spoken languages:</span>
        @for (item of posterContent.spoken_languages; track $index) {
          {{ item }},
        }
      </p>
    }

    @if (posterContent.tagline) {
      <p>
        <span class="text-[var(--gray-100-opacity-60)]">Tagline:</span> {{ posterContent.tagline }}
      </p>
    }

    @if (posterContent.release_date) {
      <p>
        <span class="text-[var(--gray-100-opacity-60)]">Release date:</span>
        {{ posterContent.release_date | date: 'mm dd, yyyy' }}
      </p>
    }
  </div>
</article>
