<article
  class="relative px-10 md:px-40 py-9 flex flex-col md:flex-row lg:gap-8 wrap-poster-detail overflow-hidden"
>
  <div
    class="wrap-poster-info relative flex flex-col gap-5 text-white text-base animate-fade-left w-full md:w-full lg:w-[50%] max-w-[800px] mb-6 z-40"
  >
    <div
      class="relative w-full rounded-lg outline outline-2 -outline-offset-1 outline-primary-ui flex items-center overflow-hidden h-5rem"
    >
      <div class="bg-primary-ui p-3 relative">
        <p class="text-black text-base font-semiBold z-10 relative">Awards & nominations</p>
        <div class="element"></div>
      </div>
      <p class="text-white font-semiBold text-base px-4 ml-8">
        Won 2 Oscars 130 wins & 136 nominations total
      </p>
    </div>

    <div class="flex gap-4 mt-5">
      @for (genre of posterContent.genres; track $index) {
        <ui-badge [text]="genre" />
      }
    </div>

    <p class="text-balance font-body text-xl">
      {{ posterContent.overview }}
    </p>

    @if (posterContent.production_countries.length > 0) {
      <p>
        <span class="subtitle">Production countries:</span>
        @for (item of posterContent.production_countries; track $index) {
          {{ item }},
        }
      </p>
    }

    @if (posterContent.production_companies.length > 0) {
      <p>
        <span class="subtitle">Production companies:</span>
        @for (item of posterContent.production_companies; track $index) {
          {{ item }},
        }
      </p>
    }

    @if (posterContent.spoken_languages.length > 0) {
      <p>
        <span class="subtitle">Spoken languages:</span>
        @for (item of posterContent.spoken_languages; track $index) {
          {{ item }},
        }
      </p>
    }

    @if (posterContent.tagline) {
      <p><span class="subtitle">Tagline:</span> {{ posterContent.tagline }}</p>
    }

    @if (posterContent.release_date) {
      <p>
        <span class="subtitle">Release date:</span>
        {{ posterContent.release_date | date: 'mm dd, yyyy' }}
      </p>
    }
  </div>

  <div class="hidden md:flex flex-1 h-0 pb-[40rem] z-10 none">
    <div
      [style.backgroundImage]="'url(' + posterContent.poster_path + ')'"
      class="block bg-no-repeat bg-center lg:bg-left 2xl:bg-[12rem] w-full h-[40rem] absolute inset-0 pointer-events-none drop-mask-image"
    ></div>
  </div>

  <div
    class="md:hidden rounded overflow-hidden w-full h-[32rem] min-w-[15rem] m-auto md:m-0 md:w-[22rem] md:min-w-[20rem] animate-fade-right"
  >
    <img
      class="object-cover object-center aspect-[2/3] w-full h-[32rem]"
      ngSrc="{{ posterContent.poster_path }}"
      decoding="async"
      alt="title"
      width="780"
      height="1170"
      [@blurFade]="loadedPoster() ? 'loaded' : 'loading'"
      (load)="loadedPoster.set(true)"
    />
  </div>
</article>
