label.input {
  background-color: var(--gray-100);
  height: 2.8rem;
  border-radius: 4px;
  outline-color: var(--yellow-600) !important;
  outline-offset: 0 !important;
  color: var(--black-opacity-60);

  input {
    border-color: transparent;
    font-size: 15px;
    font-family: fontRegularBodyTwo, system-ui;

    &:focus {
      color: var(--black);
    }

    &:not(:focus) {
      color: var(--black-opacity-60);
    }
  }
}
