@tailwind base;
@tailwind utilities;

@layer base {
  @font-face {
    src: url('../../../../public/fonts/lato/Lato-Regular.woff2') format('woff2');
    font-family: fontRegularBody;
    font-display: swap;
  }

  @font-face {
    src: url('../../../../public/fonts/lato/Lato-Regular.woff2') format('woff2');
    font-family: fontRegularBodyTwo;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    src: url('../../../../public/fonts/lato/Lato-Regular.woff2') format('woff2');
    font-family: fontRegularCaption;
    font-display: swap;
  }

  @font-face {
    src: url('../../../../public/fonts/lato/Lato-Bold.woff2') format('woff2');
    font-family: fontSemiBold;
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    src: url('../../../../public/fonts/lato/Lato-Bold.woff2') format('woff2');
    font-family: fontBold;
    font-weight: 700;
    font-display: swap;
  }

  p {
    @apply font-body text-base;
  }
}
